@import 'plugin/bourbon/_bourbon.scss';

@media only screen and (max-width: 1000px){
	.site_md_container{
		width: 90%;
		padding: 0px 5%;
	}

}

@media only screen and (max-width: 960px){

}

@media only screen and (max-width: 900px){

}

@media only screen and (max-width: 850px){
	.site_md_container{
		width: 96%;
		padding: 0px 2%;
	}
}

@media only screen and (max-width: 768px){
	
	
}

@media only screen and (max-width: 640px){
	

}

@media only screen and (max-width: 520px){
	

}

@media only screen and (max-width: 420px){
	
}
