{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Laundry management | Login page</title>
        <script type="text/javascript" src="{% static 'account/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'account/js/main.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'account/fonts/font-awesome/css/font-awesome.min.css' %}">
    </head>
    <body>

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '1656033818010523',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v2.6'
                });

                FB.AppEvents.logPageView();
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });

            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="title">
            <h1>CRM Messenger Bot</h1>
        </div>
        <div class="login">
            <form action="" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <input id="id_username" name="username" type="text">
                </div>

                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input id="id_password" name="password" type="password">
                </div>

                <div class="form-group">
                    <input type="submit" class="login_action" value="Login">
                </div>

            </form>


            <fb:login-button
              scope="public_profile,email"
              onlogin="checkLoginState();">
            </fb:login-button>
        </div>
        <script type="text/javascript">
            function statusChangeCallback(response) {
                console.log(response);
            }
            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            }
        </script>
    </body>
</html>